
*{
  padding: 0%;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
}

body{
  min-height: 100vh;
  background: url(/public/background.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 32px;
  color:white;
  text-decoration: none;
  font-weight: 1000;
}

.navbar a{
  font-size: 18px;
  color: white;
  padding: 10px;
  font-weight: 500;  
  text-decoration: none;
  margin-left: 20px;
}


.navbar a:nth-child(1){
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-weight: 500;  
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover{
  color: rgb(10, 8, 8);
}

.navbar a:nth-child(1):hover{
  color: rgb(255, 255, 255);
}

.LoadingScreen{
  min-height: 100vh;
  background: url(/public/background.png) no-repeat;
  background-size: cover;
  background-position: center;
}